 Sistema de Cinema

def menu():
    print("=== CINEMA PYTHON ===")
    nome = input("Digite seu nome: ")
    return nome


def escolher_filme():
    print("\nFilmes disponíveis:")
    print("1 - Vingadores")
    print("2 - Batman")
    print("3 - Homem-Aranha")

    opcao = input("Escolha o filme: ")

    if opcao == "1":
        filme = "Vingadores"
        valor = 30
    elif opcao == "2":
        filme = "Batman"
        valor = 25
    else:
        filme = "Homem-Aranha"
        valor = 20

    return filme, valor


def calcular_valor(valor_ingresso):
    quantidade = int(input("\nQuantidade de ingressos: "))
    total = quantidade * valor_ingresso

    print(f"Valor total: R$ {total}")

    return total


def pagamento():
    print("\nForma de pagamento:")
    print("1 - Pix")
    print("2 - Cartão")
    print("3 - Dinheiro")

    opcao = input("Escolha a forma de pagamento: ")

    if opcao == "1":
        return "Pix"
    elif opcao == "2":
        return "Cartão"
    else:
        return "Dinheiro"


def finalizar_compra(nome, filme, total, forma_pagamento):
    print("\n=== COMPRA FINALIZADA ===")
    print(f"Cliente: {nome}")
    print(f"Filme: {filme}")
    print(f"Total pago: R$ {total}")
    print(f"Pagamento: {forma_pagamento}")
    print("Bom filme!")


# Programa principal
nome_cliente = menu()

filme_escolhido, valor_filme = escolher_filme()

valor_total = calcular_valor(valor_filme)

forma = pagamento()

finalizar_compra(
    nome_cliente,
    filme_escolhido,
    valor_total,
    forma
)












